.search-bar-input {
    height: 40px;
    border-right: 0px;
}

.search-bar-cross {
    background-color: #fff !important;
    height: 38px;
    align-self: center;
}

.search-bar-cross button {
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 5px;
}

.search-bar-cross button:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
    
}

.search-bar-button {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.search-dropdown {
    top: -3px !important;
    transform: none !important;
    border: 2px solid black;
    border-top: 1px solid grey;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: calc(100% - 73px);
}